<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   IDETemplateMacros.plist
   

   Created by Shohei Kameda on 2019/09/03.
   Copyright (c) 2019 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
